
<script type="text/javascript">
function mensaje(){

var d=document.getElementById("contenido").innerHTML="Hola mundo";
    
}
</script>
<center>
<div name='contenido' id='contenido' class="content-fluid">
Contenido
</div>
<div id='controles'>

<button onclick='mensaje();'>Mensaje</button>
</div>